/*Selector de Etiqueta: */

.header {
    height: 80px;
    color: black;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 3px solid black;
    margin-top: 1px;
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    color: black;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 20px;
}

.icon {
    background-color: #c4c4c4;
    text-align: center;
    padding: 20px 80px 10px 80px;
    border-right: 3px solid black;
}

.icon .icon-name {
    display: inline;
    margin: auto;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.menu {
    height: inherit;
    /* padding: 10px 15px 10px 15px; */
    text-align: right;
}

.menu ol {
    margin: 1px;
}

.menu ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-decoration: underline;
    color: white;
    margin: 0px;
}

h1 strong {
    color: black;
}

h2 {
    color: black;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.hero {
    height: 300px;
    background-image: url("../img/me_3.png");
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-color: #e8e8e8;
    display: flex;
    align-items: center;
}

.portfolio {
    background-color: lightgray;
    padding: 10px 5px 1px 10px;
}

.project {
    border: 1px solid gray;
    border-radius: 50px;
    border-top-left-radius: 1px;
    background-color: #fafafa;
    margin: 0px 0px 30px 0px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project strong {
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.project-title {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 0;
}

.project-course,
.project-date,
.project-link {
    margin: 10px 0;
}

.project-description {
    font-size: 20px;
}

.project .project-detail {
    width: 500px;
    height: 200px;
    display: inline-block;
}

.project .project-img-container {
    width: 500px;
    display: inline-block;
}

.flexbox {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    flex-shrink: 0;
    margin: 20px;
}

.footer {
    background-color: #5c5c5c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px 5px 15px;
}


/* Selector Descentente : body header div nav ol li a */


/*Selector de clase .clase*/


/*Selector de id #id */