/*Selector de Etiqueta: */

body {
    display: inline-block;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    overflow-x: scroll;
}

.header {
    color: #ad9c7c;
    background-color: #2A2A2A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: inherit;
    box-sizing: border-box;
}

.header-container {
    display: inherit;
    justify-content: inherit;
    /* max-width: 1000px; */
    margin: 0 auto;
    flex: 1;
    box-sizing: inherit;
    /* width: 100%; */
}

.header ol {
    display: flex;
    height: inherit;
}

.header ol li {
    height: inherit;
}

.header a {
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 20px;
}

.icon {
    box-sizing: inherit;
    background-color: #1A1A1A;
    text-align: center;
    padding: 15px 80px 10px 80px;
    min-width: 180px;
}

.icon .icon-name {
    display: inline;
    margin: auto;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.menu {
    height: inherit;
    /* padding: 10px 15px 10px 15px; */
    text-align: right;
    display: inherit;
    align-items: center;
}

.menu ol {
    margin: 1px;
}

.menu ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 strong {
    color: black;
}

h2 {
    color: black;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.all-container {
    width: 100vw;
    /* margin-top: 10vh; */
    display: flex;
    flex-wrap: wrap;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-image: url("../img/soumaya_real.JPG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    min-width: 100vw;
}

.hero-text {
    text-align: center;
    margin: auto;
}

.hero-text h1,
h2 {
    color: white;
    display: block;
}

.hero-text h1 {
    font-size: 60pt;
    font-weight: bold;
}

.hero-text h2 {
    font-size: 30pt;
    font-weight: bold;
}

.sections-container {
    width: 100%;
    background-color: #262626;
    display: flex;
    padding: 0 10px 50px 10px;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
}

.modules-container {
    width: 1200px;
    margin: 40px 10px;
    padding: 40px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.module {
    display: inherit;
    justify-content: center;
    flex: 1;
    background-color: #595959;
    width: 500px;
    max-width: 50%;
    min-width: 40%;
    height: 250px;
    border-radius: 10px;
    margin: 0 30px;
    margin-bottom: 50px;
    box-shadow: 2px 2px #bababa;
}

.module .content {
    display: flex;
    justify-content: center;
    padding: 5px 20px;
}

.content .content-text {
    color: white;
    width: 100%;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.content-text h3,
p {
    margin: 0 0 20px 0;
    ;
}

.content-text a {
    display: flex;
    align-self: flex-end;
    color: white;
    font-weight: bold;
    margin-top: 0;
}

.content .content-img {
    display: inherit;
    width: 200px;
    height: 220px;
    justify-content: flex-end;
    margin: auto;
}

.content-img img {
    height: inherit;
}

.flexbox {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

.box {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    margin: 20px;
}

.contact {
    background-color: #878787;
    color: black;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.social-link {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-size: 60px 60px;
}

.social-link.twitter {
    background-image: url("../img/twitter.svg");
}

.social-link.github {
    background-image: url("../img/github.svg");
}

.social-link.instagram {
    background-image: url("../img/instagram.svg");
}

.form-email h3 {
    margin: 0 0 3px 0;
}

.form-email input {
    height: 35px;
    width: 250px;
    border-radius: 5px;
    border-style: solid;
    border-color: gray;
    padding: 5px 20px 5px 25px;
    background-image: url("../img/mail.svg");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    display: inline-block;
    box-sizing: border-box;
}

.form-email button {
    height: 35px;
    display: inline-block;
    background: transparent;
    color: #111111;
    padding: 5px 20px 5px 25px;
    border-radius: 5px;
    border-color: #111111;
    width: 100px;
    margin-left: 1em;
}

.footer {
    background-color: #333333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    flex-wrap: wrap;
}


/*Desktop First desde media query mas grande */

@media screen and (max-width:1024px) {
    .module {
        display: block;
    }
}

@media screen and (max-width:767px) {
    .header {
        display: block;
        height: auto;
        /* border: 10px solid red; */
    }
    .header ol {
        display: initial;
    }
    .header ol li {
        height: 50px;
    }
    .header a {
        justify-content: center;
    }
}

@media screen and (max-width:480px) {}

@media screen and (max-width:320px) {}


/* Selector Descentente : body header div nav ol li a */


/*Selector de clase .clase*/


/*Selector de id #id */